<section class="h-section container-fluid" id="about">
  <div class="row">
    <div class="side-col__center col-6 push-md-6">
      <header class="section__header__side text-left section__header">
        <h3 class="section__title">Sophia McGregor</h3>
        <h4 class="section__desc">Young and avid<br>photographer based<br>in Los Angeles</h4>
        <button class="btn">more about me</button>
      </header>
    </div>

    <div class="h-section__side-special h-section__side-special--dark col-6 pull-md-6"></div>
  </div>
</section>
